.keep-together {
	white-space: nowrap;
}

li {
	cursor: pointer;
	font-size: 24px;
}

li.active {
	color: var(--color-theme);
}

li.disabled {
	color: var(--color-primary);
	opacity: 0.5;
	cursor: not-allowed;
}
