.switch {
	position: relative;
	height: 34px;
	font-size: var(--h4-font-size);
	color: var(--primary-color);
	font-family: var(--font-family);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: calc(var(--gutter-margin-x) * 2);
}

.switch-input + .slider > .inner {
	opacity: 0;
}

.switch-input:checked + .slider > .inner {
	opacity: 1;
	background: var(--theme-color);
	position: absolute;
	transition: var(--transition-duration);
	width: 62px;
	height: 17px;
	left: 4px;
	top: 4px;
}

.theme-size-small .switch-input:checked + .slider > .inner {
	width: 52px;
	height: 12px;
	top: 11px;
}

.theme-size-large .switch-input:checked + .slider > .inner {
	width: 73px;
	height: 18px;
	top: 8px;
	left: 5px;
}

.switch .switch-input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	width: 70px;
	height: 25px;
	background-color: var(--primary-bkg-color);
	transition: var(--transition-duration);
	border: 2px solid var(--primary-color);
}

.theme-size-small .slider {
	width: 60px;
	height: 20px;
	margin-right: 8px;
}

.theme-size-large .slider {
	width: 80px;
	height: 30px;
	margin-right: 16px;
}

.slider:before {
	position: absolute;
	content: '';
	height: 33px;
	width: 23px;
	left: 3px;
	top: -4px;
	background-color: var(--primary-color);
	transition: var(--transition-duration);
	border-right: 3px solid var(--primary-bkg-color);
}

.theme-size-small .slider:before {
	height: 26px;
	width: 20px;
	top: 4px;
}

.theme-size-large .slider:before {
	height: 36px;
	width: 26px;
	top: -1px;
}

.switch-input:focus + .slider {
	box-shadow: 0 0 1px var(--primary-color);
}

.switch-input:checked + .slider:before {
	-webkit-transform: translateX(42px);
	-ms-transform: translateX(42px);
	transform: translateX(42px);
	border-left: 3px solid var(--primary-bkg-color);
	z-index: 1;
}

.theme-size-small .switch-input:checked + .slider:before {
	-webkit-transform: translateX(38px);
	-ms-transform: translateX(38px);
	transform: translateX(38px);
}

.theme-size-large .switch-input:checked + .slider:before {
	-webkit-transform: translateX(50px);
	-ms-transform: translateX(50px);
	transform: translateX(50px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.switch-container {
	display: flex;
}
