.list-item {
	font-size: var(--h4-font-size);
	color: var(--primary-color);
	cursor: pointer;
	padding: var(--input-padding);
	max-height: var(--field-height);
}

.list-item:hover {
	color: var(--theme-color);
}

.input-container {
	interpolate-size: allow-keywords;
	border: 2px solid var(--primary-color);
	max-height: var(--field-height);
	transition: max-height 0.3s ease-in-out;
	overflow-y: clip;
}

.input-container.active {
	max-height: fit-content;
	transition: max-height 0.3s ease-in-out;
}
