@import 'tailwindcss';
@source './src';
@source '../../essence-ui/src/*';
@import '@essence-ui/styles/index.css';
@import 'tw-animate-css';

* {
	font-family: var(--font-family);
}

a {
	text-decoration: underline;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	unicode-bidi: isolate;
}

.theme-light .docs-markdown code {
	background-color: rgba(0, 0, 0, 0.08) !important;
}

.theme-dark .docs-markdown code {
	background-color: rgba(255, 255, 255, 0.2) !important;
}

.docs-markdown h1:not(:first-of-type) {
	margin-top: 50px;
}

.docs-markdown p {
	font-size: 20px;
	line-height: 28px;
	text-wrap: auto;
}

.theme-light .panorama {
	background-image: url('https://static.vecteezy.com/system/resources/previews/017/646/920/non_2x/flower-garden-bokeh-soft-light-abstract-background-eps-10-illustration-bokeh-particles-background-decoration-vector.jpg');
}

.theme-dark .panorama {
	background-image: url('https://wallpapershome.com/images/pages/pic_h/26426.jpg');
}
