.picker-overlay {
	position: fixed;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	background: var(--primary-bkg-color);
	color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.action-bar {
	color: var(--primary-bkg-color);
	padding: 10px;
	display: flex;
	justify-content: center;
	gap: 15px;
	position: absolute;
	bottom: env(safe-area-inset-bottom);
	width: 100%;
	background: gray;
	height: 56px;
}

.action-icon {
	font-size: 36px;
	cursor: pointer;
}
