.picker-option {
	transition:
		opacity 0.3s,
		background 0.3s;
	width: calc(var(--picker-option-size) * 1px - 10px);
	height: calc(var(--picker-option-size) * 1px - 10px);
	margin-bottom: 10px;
	justify-content: flex-end;
	display: flex;
	flex-direction: column;
	padding: var(--gutter-margin-y) var(--gutter-margin-x);
	border: 1px solid rgba(var(--hex-secondary-bkg-color), 0.7);
	opacity: 0.5;
}

.active {
	background: var(--color-theme);
	opacity: 1 !important;
	border: 1px solid var(--color-theme);
}

.scrolling {
	background: transparent;
	opacity: 0.5;
	border: 1px solid rgba(var(--hex-secondary-bkg-color), 0.7);
}

.hovering {
	opacity: 0.5;
}

.picker-option-title {
	color: rgba(var(--hex-secondary-bkg-color), 0.7);
	font-weight: 700;
}

.active .picker-option-title {
	color: var(--bg-color-primary);
}

.active.scrolling .picker-option-title {
	color: rgba(var(--hex-secondary-bkg-color), 0.7);
}

.picker-option-sub-title {
	color: rgba(var(--hex-secondary-bkg-color), 0.7);
	font-weight: 700;
}

.active .picker-option-sub-title {
	color: var(--bg-color-primary);
}

@media (max-width: 568px) {
	.picker-option {
		padding: calc(var(--gutter-margin-y) / 2) calc(var(--gutter-margin-x) / 2);
	}
	.picker-option-title {
		font-size: calc(var(--h5-font-size));
	}
	.picker-option-sub-title {
		font-size: calc(var(--body-2-font-size));
	}
}
