.value-bar {
	background-color: var(--color-theme);
	height: var(--bar-height);
	-webkit-transition: 0.2s;
	transition:
		all var(--transition-duration),
		width 0.2s;
}

.bg-bar {
	position: relative;
	display: flex;
}

.bg-bar::before {
	content: '';
	width: 100%;
	background: var(--color-theme);
	height: var(--bar-height);
	opacity: 0.3;
	position: absolute;
	transition: var(--transition-duration);
}
