::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.title {
	margin-bottom: var(--gutter-margin-y);
	text-transform: lowercase;
	margin-left: var(--gutter-margin-x);
	cursor: pointer;
}

.template {
	margin-left: var(--gutter-margin-x);
	margin-top: calc(var(--gutter-margin-y) / 2);
	padding-bottom: var(--gutter-margin-y);
}

.component {
	width: 92%;
	flex: none;
	padding-bottom: var(--bottom-navigation-bar-height);
	scroll-snap-align: start;
	overflow-y: scroll;
}
.component:last-child {
	width: 100%;
}

@media only screen and (max-width: 568px) {
	.title {
		margin-left: 16px;
	}

	.template {
		margin: 0 16px;
	}

	.component {
		width: 100vw;
	}
}
