textarea {
	border: 2px solid var(--primary-color);
	background: var(--primary-bkg-color);
	padding: var(--input-padding);
	margin: var(--gutter-margin-y) var(--gutter-margin-x);
	font-size: var(--h4-font-size);
	color: var(--primary-color);
	font-family: var(--font-family);
	border-radius: 0px;
	resize: both;
}

textarea:focus-visible {
	outline: 0px;
}

textarea:focus {
	border-color: var(--theme-color);
}

textarea[disabled=''],
textarea[disabled='true'] {
	opacity: 0.5;
	cursor: not-allowed;
}

.theme-light textarea[disabled=''],
.theme-light textarea[disabled='true'] {
	background-color: #ddd;
}

.theme-dark textarea[disabled=''],
.theme-dark textarea[disabled='true'] {
	background-color: #333;
}

textarea[error] {
	border-color: #ff0000aa;
}
