/* The checkbox */

.checkbox-container {
	display: flex;
	justify-content: flex-start;
	gap: var(--gutter-margin-x);
}
.checkbox {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--color-primary);
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkbox.checkbox-subtitle {
	align-items: flex-start;
}

/* Hide the browser's default checkbox */
.checkbox input[type='checkbox'] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	height: 24px;
	width: 24px;
	background-color: var(--bg-color-primary);
	border: 2px solid var(--color-primary);
	flex-shrink: 0;
}

/* Create a custom checkbox */
.checkmark-subtitle {
	margin-top: 9px;
}

:global(.theme-size-small) .checkmark {
	height: 20px;
	width: 20px;
}

:global(.theme-size-large) .checkmark {
	height: 28px;
	width: 28px;
}

/* When the checkbox is checked, add a blue background */

.checkbox input:checked ~ .checkmark {
	background-color: var(--bg-color-primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: '';
	display: none;
	transition: 0.4s;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
	margin-top: 3px;
	margin-left: 3px;
	width: 14px;
	height: 14px;
	background-color: var(--color-theme);
}

/* Style the checkmark/indicator */
.checkbox .checkmark-subtitle:after {
	top: 14px;
	height: 14px;
}

:global(.theme-size-small) .checkbox .checkmark:after {
	width: 12px;
	height: 12px;
	margin-top: 2px;
	margin-left: 2px;
}

:global(.theme-size-large) .checkbox .checkmark:after {
	width: 18px;
	height: 18px;
	margin-top: 3px;
	margin-left: 3px;
}

.checkbox-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
