.tile-container {
	padding: calc(var(--gutter-margin-y) / 2);
}

.tile {
	cursor: pointer;
	background-color: var(--theme-color);
	color: var(--primary-bkg-color);
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.6s ease-in-out;
	width: 100%;
	height: 100%;
}

.tile.rotated {
	transform: rotateX(180deg);
}

.front-tile {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateX(0deg);
}

.back-tile {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateX(180deg);
}

.front-tile,
.back-tile {
	justify-content: center;
	align-items: center;
}
