.clickable-container {
	width: 100%;
	height: 100%;
	padding: calc(var(--gutter-margin-y) / 2);
}
.tile-container {
	position: relative;
}
.tile {
	cursor: pointer;
	background-color: var(--theme-color);
	color: var(--primary-color);
	transform-style: preserve-3d;
	transition: transform 0.6s ease-in-out;
	width: 100%;
	height: 100%;
}

.tile.rotated {
	transform: rotateX(180deg);
}

.front-tile {
	transform: rotateX(0deg);
}

.back-tile {
	transform: rotateX(180deg);
}

.front-tile,
.back-tile {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	justify-content: center;
	align-items: center;
}

.control {
	font-size: 20px;
	padding: 7px;
	cursor: pointer;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

.control .expand-control {
	transform: rotate(-90deg);
}

.control .collapse-control {
	transform: rotate(90deg);
}

.controls {
	cursor: pointer;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	background-color: rgba(var(--hex-bkg-color), 0.8);
	color: var(--primary-color);
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}

.delete-and-close-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
