.container {
	display: flex;
}

.picker-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	gap: calc(var(--gutter-margin-y) * 2);
	overflow-y: scroll;
	padding: calc(var(--gutter-margin-y) * 3) var(--gutter-margin-x) calc(var(--gutter-margin-y) * 6)
		var(--gutter-margin-x);
	width: 100%;
}

.list-item {
	font-size: var(--h3-font-size);
	color: var(--primary-color);
	cursor: pointer;
}

@media (max-width: 768px) {
	.picker-container {
		align-items: flex-start;
		justify-content: flex-start;
	}
}
.input-container {
	position: relative;
	width: 100%;
}

.chevron-icon {
	font-size: 12px;
	color: var(--primary-color);
	cursor: pointer;
	position: absolute;
	right: 2px;
	top: 50%;
	transform: translateY(-50%);
	padding: calc(var(--gutter-margin-x) / 2);
	background: var(--primary-bkg-color);
}
