.list-picker-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	gap: calc(var(--gutter-margin-y) * 2);
	overflow-y: scroll;
	padding: calc(var(--gutter-margin-y) * 3) var(--gutter-margin-x) calc(var(--gutter-margin-y) * 6)
		var(--gutter-margin-x);
	width: 100%;
}

.list-picker-item {
	color: var(--color-primary);
	cursor: pointer;
}

@media (max-width: 768px) {
	.list-picker-container {
		align-items: flex-start;
		justify-content: flex-start;
	}
}
.list-picker-input-container {
	position: relative;
	width: 100%;
}

.list-picker-chevron-icon {
	font-size: 12px;
	color: var(--color-primary);
	cursor: pointer;
	position: absolute;
	right: calc(var(--gutter-margin-x) / 2);
	top: 50%;
	transform: translateY(-50%);
	padding: calc(var(--gutter-margin-x) / 2);
	background: var(--bg-color-primary);
}
