.input {
	border: 2px solid var(--color-primary);
	background: var(--bg-color-primary);
	padding: calc(var(--gutter-margin-y) / 2) var(--gutter-margin-x);
	color: var(--color-primary);
	border-radius: 0px;
}

.input:focus-visible {
	outline: 0px;
}

.input:focus {
	border-color: var(--color-theme);
}

.input[disabled=''],
.input[disabled='true'] {
	opacity: 0.5;
	cursor: not-allowed;
}

.theme-light .input[disabled=''],
.theme-light .input[disabled='true'] {
	background-color: rgba(var(--hex-secondary-bkg-color), 0.2);
}

.theme-dark .input[disabled=''],
.theme-dark .input[disabled='true'] {
	background-color: rgba(var(--hex-secondary-bkg-color), 0.5);
}

.input[show-error] {
	border-color: var(--color-error);
}

@media only screen and (max-width: 568px) {
	.input {
		width: 100%;
	}
}
