.essence-button {
	font-size: var(--h4-font-size);
	font-family: var(--font-family);
	background-color: var(--primary-bkg-color);
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
	padding: var(--button-padding);
	text-transform: lowercase;
}

.essence-button:hover {
	background-color: var(--theme-color);
}

.essence-button:hover[disabled],
.essence-button:hover[disabled],
.essence-button[disabled],
.essence-button[disabled] {
	background-color: var(--primary-bkg-color);
}
