@import 'tailwindcss';
@import 'tw-animate-css';
@import './typography.css';
@import './theme.small.css';
@import './theme.large.css';
@import './theme.light.css';
@import './theme.dark.css';
@import './component-styles.css';

@font-face {
	font-family: 'Segoe WP';
	src: url('@essence-ui/assets/fonts/SegoeWPLight.ttf');
	font-display: swap;
}

:root {
	--hex-bkg-color: 255, 255, 255;
	--hex-primary-color: 0, 0, 0;
	--hex-secondary-bkg-color: 255, 255, 255;

	--color-primary: rgb(var(--hex-primary-color));
	--color-theme: rgb(255, 115, 115);
	--bg-color-primary: rgb(var(--hex-bkg-color));
	--bg-color-secondary: rgb(var(--hex-secondary-bkg-color));
	--color-error: #ff0000cc;

	--font-family: 'Segoe WP';

	--transition-duration: 0.3s;

	/* The loader dots */
	--loader-dot-size: 6px;

	/* The bar heights for loader, slider, progress bar and any such bars needed */
	--bar-height: 16px;

	/* Field height needed for StackPanel */
	--field-height: 48px;

	/* Typography */
	--h1-font-size: 96px;
	--h2-font-size: 60px;
	--h3-font-size: 48px;
	--h4-font-size: 34px;
	--h5-font-size: 24px;
	--h6-font-size: 20px;
	--subtitle-1-font-size: 20px;
	--subtitle-2-font-size: 16px;
	--body-1-font-size: 18px;
	--body-2-font-size: 16px;
	--caption-font-size: 12px;
	--overline-font-size: 10px;

	/* Panorama */
	--panorama-title-height: 140px;

	/* Picker Option Size of the square */
	--picker-option-size: 160;

	--gutter-margin-x: 16px;
	--gutter-margin-y: 16px;
}

@media (max-width: 768px) {
	:root {
		/* Picker Option Size of the square */
		--picker-option-size: 100;
	}
}
