.theme-size-large {
	--gutter-margin-x: 20px;
	--loader-dot-size: 10px;
	--bar-height: 20px;
	--field-height: 64px;
	--panorama-title-height: 180px;

	/* Typography */
	--h1-font-size: 120px;
	--h2-font-size: 72px;
	--h3-font-size: 60px;
	--h4-font-size: 40px;
	--h5-font-size: 28px;
	--h6-font-size: 24px;
	--subtitle-1-font-size: 18px;
	--subtitle-2-font-size: 16px;
	--body-1-font-size: 18px;
	--body-2-font-size: 16px;
	--caption-font-size: 14px;
	--overline-font-size: 12px;

	--gutter-margin-x: 20px;
	--gutter-margin-y: 20px;
}
