.h1 {
	font-size: var(--h1-font-size);
	letter-spacing: -1.5px;
	font-weight: 100;
	font-family: var(--font-family);
}

.h2 {
	font-size: var(--h2-font-size);
	letter-spacing: -0.5px;
	font-weight: 100;
	font-family: var(--font-family);
}

.h3 {
	font-size: var(--h3-font-size);
	letter-spacing: 0px;
	font-weight: 400;
	font-family: var(--font-family);
}

.h4 {
	font-size: var(--h4-font-size);
	letter-spacing: 0.25px;
	font-weight: 400;
	font-family: var(--font-family);
}

.h5 {
	font-size: var(--h5-font-size);
	letter-spacing: 0px;
	font-weight: 400;
	font-family: var(--font-family);
}

.h6 {
	font-size: var(--h6-font-size);
	letter-spacing: 0.4px;
	font-weight: 700;
	font-family: var(--font-family);
}

.subtitle-1 {
	font-size: var(--subtitle-1-font-size);
	letter-spacing: 0.15px;
	font-weight: 400;
	font-family: var(--font-family);
}

.subtitle-2 {
	font-size: var(--subtitle-2-font-size);
	letter-spacing: 0.1px;
	font-weight: 500;
	font-family: var(--font-family);
}

.body-1 {
	font-size: var(--body-1-font-size);
	letter-spacing: 0.5px;
	font-weight: 400;
	font-family: var(--font-family);
}

.body-2 {
	font-size: var(--body-2-font-size);
	letter-spacing: 0.25px;
	font-weight: 400;
	font-family: var(--font-family);
}

.caption {
	font-size: var(--caption-font-size);
	letter-spacing: 0.4px;
	font-weight: 400;
	font-family: var(--font-family);
}

.overline {
	font-size: var(--overline-font-size);
	letter-spacing: 1.5px;
	font-weight: 400;
	font-family: var(--font-family);
}
