.grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	background-color: gray;
	padding: calc(var(--gutter-margin-y) / 2);
	gap: calc(var(--gutter-margin-x) / 2);
}

.tile-group {
	gap: calc(var(--gutter-margin-x) / 2);
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-rows: repeat(2, minmax(0, 1fr));
}

.measure-tile {
	height: auto;
	aspect-ratio: 1 / 1;
	padding: 0;
	margin: 0;
	grid-column: span 1;
}
