.panorama-container {
	display: block;
	position: relative;
	height: 100%;
	overflow-x: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.panorama-title {
	margin-left: calc(var(--gutter-margin-x) - 4px);
	text-transform: lowercase;
	white-space: nowrap;
	font-size: calc(var(--h1-font-size) * 0.8);
}

.panorama-component-container {
	display: flex;
	height: calc(100% - var(--panorama-title-height));
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	overflow-y: auto;
}

.panorama-page-title {
	margin-left: var(--gutter-margin-x);
}

.panorama-dots-container {
	display: flex;
	gap: calc(var(--gutter-margin-x) / 2);
	width: 100%;
	justify-content: center;
	position: absolute;
	bottom: 0px;
	padding: calc(var(--gutter-margin-y) / 2) 0px;
	background-color: rgba(var(--hex-bkg-color), 0.5);
}

.panorama-dots {
	cursor: pointer;
	height: calc(var(--loader-dot-size) * 1.5);
	width: calc(var(--loader-dot-size) * 1.5);
	border-radius: calc(var(--loader-dot-size) * 1.5);
	background-color: rgba(var(--hex-primary-color), 0.8);
	opacity: 0.5;
}

.panorama-dots.active {
	opacity: 1;
}

@media (max-width: 568px) {
	.panorama-title {
		min-width: 450px;
	}
}
